Source: roc-toolkit
Section: sound
Priority: optional
Maintainer: Sourav Das <souravdas142@gmail.com>
Build-Depends: debhelper-compat (= 12),
# for Roc
               curl,
               doxygen,
			   gengetopt, 
               graphviz,
			   libcpputest-dev,
               libopenfec,
			   libpulse-dev,
			   libsox-dev,
			   libunwind-dev,
			   libuv1-dev,
			   pkg-config,
               python3-sphinx,
               python3-breathe,
			   ragel,
			   scons,
               wget,
# for 3rd-parties
			   autoconf,
			   automake,
			   cmake,
			   intltool,
			   libtool,
Standards-Version: 4.4.1
Homepage: https://roc-project.github.io
Vcs-Browser: https://github.com/pipewire-debian/pipewire-debian
Vcs-Git: https://github.com/pipewire-debian/pipewire-debian.git

Package: roc
Architecture: linux-any
Multi-Arch: same
Depends: libroc, ${shlibs:Depends}, ${misc:Depends}
Description: roc roc-toolkit Real-time audio streaming over network
 Contains binary file of roc-toolkit and manual pagaes

Package: libroc
Architecture: linux-any
Multi-Arch: same
Replaces: roc (<< 0.1.5.r41.gc896873-6)
Breaks: roc (<< 0.1.5.r41.gc896873-6)
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: roc (>> 0.1.5.r41.gc896873-6)
Description: roc roc-toolkit Real-time audio streaming over network
 Contains so libraries for roc-toolkit

Package: libroc-dev
Architecture: linux-any
Multi-Arch: same
Depends: libroc, ${shlibs:Depends}, ${misc:Depends}
Description: roc roc-toolkit Real-time audio streaming over network
 Contains headers for roc-toolkit
