#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -pedantic -fsigned-char
include /usr/share/dpkg/architecture.mk
include /usr/share/dpkg/pkg-info.mk

ifeq ($(DEB_HOST_ARCH),armel)
export DEB_CPPFLAGS_MAINT_APPEND = -D_32BIT_FIXED_POINT
endif



%: 
	dh $@

override_dh_auto_configure:
	cmake -DCMAKE_INSTALL_PREFIX=/usr \
	-DINSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
	-DCMAKE_BUILD_TYPE=None \
	-DLDAC_SOFT_FLOAT=OFF 


override_dh_auto_build:
	# Enforce Debian's CFLAGS and LDFLAGS in build, as there's no configure pass 
	dh_auto_build -- \
	CFLAGS="$(shell dpkg-buildflags --get CFLAGS)" \
	LDFLAGS="$(shell dpkg-buildflags --get LDFLAGS)" \




