Source: openfec
Section: libs
Priority: optional
Maintainer: Sourav Das <souravdas142@gmail.com>
Build-Depends: cmake,
               dh-exec,
			   pkg-config,
               debhelper-compat (= 12)
Standards-Version: 4.4.1
Vcs-Browser: https://github.com/pipewire-debian/pipewire-debian/
Vcs-Git: https://github.com/pipewire-debian/pipewire-debian.git
Homepage: http://openfec.org/

Package: libopenfec
Section: libs
Architecture: linux-any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Application-Level Forward Erasure Correction implementation library - runtime
 Application-Level Forward Erasure Correction implementation library

Package: libopenfec-dev
Architecture: linux-any
Multi-Arch: same
Section: libdevel
Depends: ${misc:Depends}, libopenfec (= ${binary:Version})
Description: Application-Level Forward Erasure Correction implementation library - development files
 Application-Level Forward Erasure Correction implementation library
