Source: pipewire
Section: libs
Priority: optional
Maintainer: Sourav Das <souravdas142@gmail.com>
XSBC-Original-Maintainer: Utopia Maintenance Team <pkg-utopia-maintainers@alioth-lists.debian.net>
Build-Depends:	cmake,
				debhelper (>= 12),
				doxygen <!nodoc>,
				fakeroot,
				graphviz <!nodoc>,
                libavahi-client-dev,
				libavcodec58,
				libasound2-dev,
				libbluetooth-dev,
                libcamera-dev [!s390x !hppa !m68k !powerpc !ppc64 !ppc64el !sparc64],
                libcap-dev,
                libcanberra-dev,
				libdbus-1-dev,
				libdrm-dev,
				libfdk-aac-dev (>= 2.0),
				libglib2.0-dev (>= 2.32.0),
				libgstreamer-plugins-base1.0-dev,
				libgstreamer1.0-dev,
				libjack-jackd2-dev (>= 1.9.10),
# `vim` package has no relation with pipewire, but `liblc3` package is failed
# building on focal and bionic, so we can't control `control` file for that, control
# file is not supporting condition, so This hack will do the trick, if liblc3-dev,
# is not found vim will be installed on build system and do nothing.
				liblc3-dev | vim,
				libldacbt-abr-dev [!s390x !hppa !m68k !powerpc !ppc64 !sparc64],
				libldacbt-enc-dev [!s390x !hppa !m68k !powerpc !ppc64 !sparc64],
                liblilv-dev,
				libncurses-dev,
                libncursesw5-dev,
				libfreeaptx-dev,
                libopus-dev,
				libpulse-dev (>= 11.1),
                libreadline-dev,
                libroc-dev [!hppa !m68k !powerpc !sparc64],
				libsbc-dev,
				libsdl2-dev,
				libsndfile1-dev (>= 1.0.20),
				libsystemd-dev [linux-any],
				libudev-dev [linux-any],
                libusb-1.0-0-dev,
				libv4l-dev,
				libvulkan-dev,
                libx11-dev,
                libxfixes-dev,
                meson (>= 0.60.0),
                openal-info,
                openssl,
                libssl-dev,
				pkg-config (>= 0.22),
                python3-docutils,
                pulseaudio-utils,
				systemd [linux-any],
				valgrind,
                libwebrtc-audio-processing-dev
Standards-Version: 4.1.4
Vcs-Browser: https://gitlab.freedesktop.org/pipewire/pipewire
Vcs-Git: https://gitlab.freedesktop.org/pipewire/pipewire.git
Homepage: https://pipewire.org/

Package: libpipewire-0.3-0
Architecture: linux-any
Multi-Arch: same
Depends: libspa-0.2-modules (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: pipewire (= ${binary:Version}), pipewire-locales
Description: libraries for the PipeWire multimedia server
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.

Package: pipewire-locales
Section: localization
Architecture: all
Multi-Arch: foreign
Depends: pipewire, 
		 ${misc:Depends}
Provides: libpipewire-0.3-common
Conflicts: libpipewire-0.3-common
Replaces: libpipewire-0.3-common
Description: locales for the PipeWire multimedia server - localization
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the locales for pipewire.

Package: libpipewire-0.3-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends: libpipewire-0.3-0 (= ${binary:Version}),
         libspa-0.2-dev (= ${binary:Version}),
         ${misc:Depends}
Suggests: pipewire-doc
Description: libraries for the PipeWire multimedia server - development
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the development files.

Package: libpipewire-0.3-modules
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: libpipewire-module-x11-bell
Breaks: pipewire (<< 0.3.5)
Replaces: pipewire (<< 0.3.5)
Description: libraries for the PipeWire multimedia server - modules
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains modules used by the PipeWire server and by clients,
 and should not normally be depended on directly. PipeWire clients should
 depend on the pipewire package instead.

Package: libspa-0.2-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}
Suggests: pipewire-doc
Description: libraries for the PipeWire multimedia server Simple Plugin API - development
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the development files for the Simple Plugin API.

Package: libspa-0.2-modules
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: pipewire (<< 0.3.5)
Replaces: pipewire (<< 0.3.5)
Description: libraries for the PipeWire multimedia server Simple Plugin API - modules
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains core support modules used in the Simple Plugin API,
 together with test and utility modules that do not introduce additional
 dependencies. It should not normally be depended on directly: PipeWire
 clients should depend on the pipewire package instead.

Package: pipewire-doc
Section: doc
Build-Profiles: <!nodoc>
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Breaks: libpipewire-0.2-doc (<< 0.3.1)
Replaces: libpipewire-0.2-doc (<< 0.3.1)
Description: libraries for the PipeWire multimedia server - documentation
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the API reference.

Package: pipewire
Section: video
Architecture: linux-any
Multi-Arch: same
Depends: libpipewire-0.3-modules (= ${binary:Version}),
         pipewire-bin (= ${binary:Version}),
         ${misc:Depends},
		 ${shlibs:Depends},
		 adduser
Suggests: pipewire-locales
Description: audio and video processing engine multimedia server
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This metapackage makes PipeWire available for programs of the same
 architecture, and provides the systemd user service necessary to run
 pipewire on-demand.

Package: pipewire-bin
Section: video
Architecture: linux-any
Multi-Arch: foreign
Depends: libpipewire-0.3-modules (= ${binary:Version}),
         pipewire-pulse,
         ${misc:Depends},
         ${shlibs:Depends}
Recommends: dbus-user-session,
            wireplumber | pipewire-media-session,
            rtkit
Breaks: pipewire (<< 0.3.5)
Replaces: pipewire (<< 0.3.5)
Description: PipeWire multimedia server - programs
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the server and command-line utilities, and should
 not normally be depended on directly. PipeWire clients should depend on
 the pipewire package instead.

Package: pipewire-pulse
Section: sound
Architecture: linux-any
Multi-Arch: foreign
Replaces: pipewire-bin (<< 0.3.28-2)
Breaks: pipewire-bin (<< 0.3.28-2)
Depends: pipewire (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Suggests: pulseaudio-utils
Description: PipeWire PulseAudio daemon
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the PulseAudio replacement daemon.

Package: libpipewire-module-x11-bell
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: pipewire (<< 0.3.5),
        libpipewire-0.3-modules (<< 0.3.50),
Replaces: pipewire (<< 0.3.5),
         libpipewire-0.3-modules (<< 0.3.50),
Description: libraries for the PipeWire multimedia server - modules
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains x11-bell module used by the PipeWire server and by clients,
 and should not normally be depended on directly. PipeWire clients should
 depend on the pipewire package instead.

Package: pipewire-alsa
Section: sound
Architecture: linux-any
Multi-Arch: same
Replaces: pipewire-audio-client-libraries (<< 0.3.57)
Breaks: pipewire-audio-client-libraries (<< 0.3.57)
Depends: pipewire (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: PipeWire ALSA plugin
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the ALSA plugin.

Package: pipewire-jack
Section: sound
Architecture: linux-any
Multi-Arch: same
Replaces: pipewire-audio-client-libraries (<< 0.3.57)
Breaks: pipewire-audio-client-libraries (<< 0.3.57)
Depends: pipewire (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: PipeWire JACK plugin
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the JACK plugin.

Package: pipewire-v4l2
Section: video
Architecture: linux-any
Multi-Arch: same
Replaces: pipewire-bin (<< 0.3.57),
          libpipewire-0.3-modules (<< 0.3.57)
Breaks: pipewire-bin (<< 0.3.57),
        libpipewire-0.3-modules (<< 0.3.57)
Depends: pipewire (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: PipeWire V4L2 plugin
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the V4L2 plugin.

Package: pipewire-libcamera
Section: video
Architecture: linux-any
Multi-Arch: same
Replaces: libspa-0.2-modules (<< 0.3.57)
Breaks: libspa-0.2-modules (<< 0.3.57)
Depends: pipewire (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: PipeWire libcamera plugin
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains the libcamera plugin.

Package: pipewire-tests
Architecture: linux-any
Depends: pipewire (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Section: misc
Description: PipeWire multimedia server - tests and examples
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains automated and manual tests and example programs.

Package: gstreamer1.0-pipewire
Architecture: linux-any
Multi-Arch: same
Depends: pipewire (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: GStreamer 1.0 plugin for the PipeWire multimedia server
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains a plugin to make devices managed by the PipeWire
 server available as GStreamer sources and sinks.

Package: libspa-0.2-bluetooth
Architecture: linux-any
Multi-Arch: same
Depends: libspa-0.2-modules (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: libraries for the PipeWire multimedia server - bluetooth plugins
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains a plugin to make Bluetooth audio devices such as
 speakers and headsets available to the PipeWire server. It is considered
 to be experimental, and is disabled by default (even if installed) to
 avoid conflicts with equivalent functionality in PulseAudio.

Package: libspa-0.2-jack
Architecture: linux-any
Multi-Arch: same
Depends: libspa-0.2-modules (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: libraries for the PipeWire multimedia server - JACK client
 PipeWire is a server and user space API to deal with multimedia
 pipelines. This includes:
 .
  - Making available sources of video (such as from a capture devices or
    application provided streams) and multiplexing this with clients.
  - Accessing sources of video for consumption.
  - Generating graphs for audio and video processing.
 .
 This package contains a plugin to make PipeWire able to connect to a
 JACK server, which will be used for audio playback and recording.
 Using PipeWire for audio is considered to be experimental.

Package: pipewire-audio-client-libraries
Section: oldlibs
Architecture: all
Depends: pipewire-alsa,
         pipewire-jack,
		 ${misc:Depends}
Description: transitional package for pipewire-alsa and pipewire-jack
 PipeWire is a server and user space API to deal with multimedia
 pipelines.
 .
 This is a transitional package for pipewire-alsa and pipewire-jack.
 It can safely be removed.
