#!/usr/bin/make -f

include /usr/share/dpkg/architecture.mk

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed
#export DEB_BUILD_OPTIONS = nocheck

# `export DEB_BUILD_OPTIONS = nocheck` without it the test is always failed, when `--libexecdir=/usr/libexec`
# is not set explicitly, the debhelper autoconfigure it to  `/usr/lib/x86*/`  don't know why, This opn will skip test suite

%:
	dh $@

############################## Disabling Features Conditionally ##############################

ifneq (,$(filter s390x hppa m68k powerpc ppc64 ppc64el sparc64,$(DEB_HOST_ARCH)))
LIBCAMERA=disabled
cmnt_libcam=$(shell sed -e '/libcamera/ s/^\#*/\#/' -i debian/libspa-0.2-modules.install)
else
LIBCAMERA=enabled
endif


ifneq (,$(filter s390x hppa m68k powerpc ppc64 sparc64,$(DEB_HOST_ARCH)))
BLUEZ5_CODEC_LDAC=disabled
else
BLUEZ5_CODEC_LDAC=enabled
endif


ifneq (,$(filter hppa m68k powerpc sparc64,$(DEB_HOST_ARCH)))
LIBROC=disabled
cmnt_libroc=$(shell sed -e '/module-roc-s/ s/^\#*/\#/' -i debian/libpipewire-0.3-modules.install)
else
LIBROC=enabled
endif

ifneq (,$(filter armhf,$(DEB_HOST_ARCH)))
LTO=false
else
LTO=true
endif

############################## END OF Disabling Features Conditionally ##############################

AVAILABLE_CORE=$(shell nproc)



override_dh_auto_configure:
	#below resolves `libintl found : NO`; but at the last moment there is unknown error.
	#sudo cp -v /usr/lib/x86_64-linux-gnu/preloadable_libintl.so /usr/lib/x86_64-linux-gnu/libintl.so
	dh_auto_configure -- --buildtype=plain \
        --libexecdir=/usr/libexec  \
    	-Daudiotestsrc=enabled \
		-Dauto_features=enabled \
		-Davb=disabled \
		-Db_lto=$(LTO) \
		-Db_pie=true \
		-Dbluez5-codec-lc3plus=disabled \
		-Dbluez5-codec-ldac=$(BLUEZ5_CODEC_LDAC) \
		-Dlibcamera=$(LIBCAMERA) \
		-Ddocs=enabled \
		-Dexamples=enabled \
		-Dinstalled_tests=enabled \
		-Dman=enabled \
		-Dtest=enabled \
		-Dvideotestsrc=enabled \
		-Dvolume=enabled \
		-Dvulkan=enabled \
		-Droc=$(LIBROC) \
		-Dsession-managers= \
		$(NULL)
	install -d debian/ld.so.conf.d
	echo "/usr/lib/$(DEB_HOST_MULTIARCH)/pipewire-0.3/jack/" > debian/ld.so.conf.d/pipewire-jack-$(DEB_HOST_MULTIARCH).conf
	install -Dm644 /dev/null debian/with-alsa
	echo -e "\nCommenting out Disabled feature not to be installed...$(cmnt_libcam) $(cmnt_libroc)\n"
	sed -e '/avb/ s/^\#*/\#/' -i debian/*.install
	echo -e "usr/bin/pipewire-avb exists\nusr/share/pipewire/pipewire-avb.conf" >> debian/not-installed



test_timeout_multiplier = 1

ifneq ($(filter arm hppa ia64 m68k riscv64 sh4 sparc%,$(DEB_HOST_ARCH_CPU)),)
test_timeout_multiplier = 5
endif

ifneq ($(filter mips%,$(DEB_HOST_ARCH_CPU)),)
test_timeout_multiplier = 10
endif



override_dh_auto_test:
	LC_ALL=C.UTF-8 MESON_TESTTHREADS=${AVAILABLE_CORE}  meson test -t $(test_timeout_multiplier) -C obj-*


override_dh_missing:
ifeq ("enabled","$(LIBCAMERA)")
	dh_missing --fail-missing
else
	dh_missing --list-missing
endif


override_dh_makeshlibs:
	dh_makeshlibs \
		--exclude=/usr/lib/$(DEB_HOST_MULTIARCH)/gstreamer-1.0 \
		--exclude=/usr/lib/$(DEB_HOST_MULTIARCH)/pipewire-0.3 \
		--exclude=/usr/lib/$(DEB_HOST_MULTIARCH)/spa-0.2 \
		-- -c4


override_dh_shlibdeps-arch:
	dh_shlibdeps \
		-ppipewire-audio-client-libraries \
		-l/usr/lib/$(DEB_HOST_MULTIARCH)/pipewire-0.3 \
		-- \
		-Ldebian/pipewire-audio-client-libraries.shlibs.local \
		$(NULL)
	dh_shlibdeps \
		--remaining-packages \
		-l/usr/lib/$(DEB_HOST_MULTIARCH)/pipewire-0.3 \
		$(NULL)

