Source: mini-soong
Section: devel
Priority: optional
Maintainer: Android Tools Maintainers <android-tools-devel@lists.alioth.debian.org>
Uploaders:
 Sourav Das <souravdas142@gmail.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 python3-all (>= 3.8~),
 python3-debian,
 python3-setuptools (>= 0.6b3),
 python3-pyparsing,
 python3-sh
Standards-Version: 4.5.0
Homepage: https://salsa.debian.org/android-tools-team/mini-soong
Vcs-Git: https://salsa.debian.org/android-tools-team/mini-soong.git
Vcs-Browser: https://salsa.debian.org/android-tools-team/mini-soong
Rules-Requires-Root: no

Package: mini-soong
Architecture: all
Depends:
 python3-pkg-resources,
 ${python3:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: dh-soong
Description: minimalist Soong build system reimplementation
 Mini-Soong is a minimalist and incomplete reimplementation of Soong, the
 Android build system. It is intended to simplify the packaging of parts
 of Android for Debian. It is not intended to be a complete replacement
 for Soong.
